body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 20%;
    background: rgb(238, 238, 238);
}

main {
    float: left;
    width: 75%;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em;
}

.page-header {
    border-bottom: 2px solid black;
}

.site-title {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    width: 75%;
    padding-bottom: 20px;
    margin-bottom: 0;
    display: inline-block;

}

.header-navigation {
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
}

.header-navigation ul {
    list-style: none;
}

.header-navigation li {
    display: inline-block;
    margin-left: 10px;
}

.header-navigation a {
    text-decoration: none;
    color: rgb(0, 102, 0);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

img {
    border: 1px solid black;
    padding: 5px;
    margin: 0 10px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

.column-6 {
    display: inline-block;
    width: 46%;
    margin: 0;
    vertical-align: top;
}

blockquote {
    float: right;
    font-family: Georgia, serif;
}

.text-left {
    border-right: 1px solid grey;
    padding-right: 30px;
}

.cite-right {
    padding-left: 30px;
}

.cite-right cite {
    display: block;
    text-align: right;
    margin-top: 30px;
}

aside {
    float: right;
}

aside li a {
    text-decoration: none;
    color: green;
}