html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-wrap: wrap;
    background: rgb(238, 238, 238);
    height: 100vh;
    margin: 0;
}

header {
    flex-basis: 100%;
    border-bottom: 1px solid black;
    padding: 0 30px;
}

main {
    padding: 50px 30px;
    min-height: 73vh;
}

footer {
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
    flex-basis: 100%;
    padding: 0 30px;
}