@import url('/font-awesome-4.7.0/css/font-awesome.min.css');

p {
    margin: 50px;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.green {
    background: green;
}

.orange {
    background: orange;
}