<form method="POST" style="margin: 50px;">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{username}}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="{{password}}">

    <label for="repeatPassword">Repeat password:</label>
    <input type="password" id="repeatPassword" name="repeatPassword" value="{{repeatPassword}}">

    <input type="submit" value="Register">
</form>